.suggest-diff .diff ins,
.suggest-diff .diff del {
  font-weight: bold;
}

.suggest-diff .diff ins {
  color: green;
}

.suggest-diff .diff del {
  color: red;
}

.suggest-diff .original,
.suggest-diff .changed {
  display: none;
}
